<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> Document </title>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

<head>
    <h1> Corona Statistics</h1>
    <h2>Select your Country</h2>
    <form method="post" action="/">
        <select name="country1" id="country1">
            <option value="MAR" selected> MOROCCO </option>
            <option value="FRA"> FRANCE </option>
            <option value="ITA"> ITALIE </option>
            <option value="USA"> USA </option>
        </select>

        <select name="country1" id="country2">
            <option value="MAR"> MOROCCO </option>
            <option value="FRA" selected> FRANCE </option>
            <option value="ITA"> ITALIE </option>
            <option value="USA"> USA </option>
        </select>

        <select name="country1" id="country3">
            <option value="MAR"> MOROCCO </option>
            <option value="FRA"> FRANCE </option>
            <option value="ITA" selected> ITALIE </option>
            <option value="USA"> USA </option>
        </select>
    </form>
</head>
</html>